---
layout: page
title: Ali Davari's Personal Website
<!-- subtitle: An effort to bring AI into practice for all -->
use-site-title: true
---

Here is a comprehensive CV in Markdown format:

# Ali Davariashtiyani

**Location:** Chicago, IL   
**Phone:** 215-834-7476  
**Email:** a.davari871@gmail.com  
**LinkedIn:** /davari-ali
**Work Authorization:** Eligible to work (GC holder)

## Education

- **Ph.D. in Materials Engineering**, 2017 - 2023  
  University of Illinois Chicago, Chicago, IL, USA
  
- **M.Sc. in Chemical Engineering, Minor in Computer Science**, 2015 - 2017  
  Drexel University, Philadelphia, PA, USA
  
- **B.Sc. in Chemical Engineering**, 2010 - 2015  
  University of Tehran, Tehran, Iran

## Expertise

- **Materials Discovery and Property Prediction:** Expert in leveraging machine learning and deep learning for precise predictions of synthesizability and formation energy in theoretical materials. Innovator in crystal representation via sparse voxel 3D imaging techniques.

- **Computational Modeling:** Proficient in Computational Modeling, adept at Kinetic Monte Carlo, Molecular Dynamics (using LAMMPS), and Density Functional Theory (utilizing VASP). Solid grasp of numerical methods, linear algebra, and statistical analysis, including generalized extreme value analysis.

- **Coding:** Advanced proficiency in object-oriented programming using Python and C++. Experienced with various Python libraries and object-oriented code development. Knowledgeable in MATLAB, JavaScript, SQL, Bash, and VBA. Skilled in version control (Git), containerization (Docker, Kubernetes), high-performance computing environments, and REST API. Author of a published Python software package.

- **Machine Learning:** Skilled in the development and implementation of machine learning models, with a focus on deep convolutional neural networks for 3D image analysis. Proficient in various ML tools and frameworks, including TensorFlow (with GPU acceleration), Keras, and PyTorch, complemented by a thorough understanding of traditional ML algorithms.

## Experience

### Computational Materials Research Lab (CMRL) 
Graduate Student Research Assistant, Jan 2019 - Present
*Chicago, IL*  

- Participating in collaborative research funded by National Science Foundation (NSF):
  - DMREF: Machine Learning Algorithm Prediction and Synthesis of Next Generation Superhard Functional Materials

- Introduced a new machine-readable representation of crystalline materials using Voxel Images.

- Development of a python software toolkit for crystal voxel image representation and convolutional network.

  - Link to the package: github.com/kadkhodaei-research-group/XIE-SPP

  - Providing the synthesizability likelihood of theoretical crystal structures

  - Estimating the formation energy of crystal structures

  - Representing crystal structures in terms of 3D images for deep learning

  - Implementation of parallel computing to speed of the data preparation process

- Implemented convolutional neural network for representing and making predictions on crystal structures

- Deep learning interpretation and classification of synthesizable crystal structures

- Worked with materials science databases including MP, ICSD, COD and, AFLOW: collecting, representing, analyzing

- Worked with HPC systems with packages like Slurm, PBS, Kubernetes and Docker. Made a network out of ordinary PCs and created HPC system using HTCondor.

### E-ala-kai Research Lab
Graduate Student Research Assistant, Jul 2018 - Dec 2018 
*Chicago, IL*

- Gathered historical temperature data from the NOAA database and performed statistical analysis of high temperature extreme and its patterns via MATLAB

## Publications

- Davariashtiyani, A., Taherkhani, M., Fattahpour, S. and Vitousek, S. (2023). Exponential increases in high-temperature extremes in North America. *Scientific Reports*, 13(1), p.19177. doi:10.1038/s41598-023-41347-3.

- Davariashtiyani, A. and Kadkhodaei, S., (2023). Voxel Image of Crystals for High-Throughput Materials Screening: Formation Energy Prediction by a Deep Convolutional Network, Preprint doi: 10.21203/rs.3.rs-3044141/v1. 

- Fattahpour, S., Davariashtiyani, A. and Kadkhodaei, S. (2022) ‘Understanding the role of anharmonic phonons in diffusion of bcc metals’, *Physical Review Materials*. American Physical Society, 6(2), p. 023803. doi: 10.1103/PhysRevMaterials.6.023803.

- Davariashtiyani, A., Kadkhodaie, Z. and Kadkhodaei, S. (2021) ‘Predicting synthesizability of crystalline materials via deep learning’, *Communications Materials*, 2(1), p. 115. doi: 10.1038/s43246-021-00219-x. 

- Kadkhodaei, S. and Davariashtiyani, A. (2020) ‘Phonon-assisted diffusion in bcc phase of titanium and zirconium from first principles’, *Physical Review Materials*. American Physical Society, 4(4), p. 043802. doi: 10.1103/PhysRevMaterials.4.043802.

## Honors and Awards

- Awarded second rank in 'Christopher Burke and Susan S. Burke Civil Engineering Poster Competition', UIC, Nov 2021

- Chosen to participate in ICME summer school funded by National Science Foundation (NSF), June 2019

  - Summer School for Integrated Computational Materials Education (ICME) at the University of Michigan
  
- Awarded top ranks in 'Sharif Computer-aided Chemical Engineering Contest (SC3)', Sharif University, Feb 2015

## Skills

- **Machine Learning:** Completed an introductory class and Ph.D. research projects. Packages: Numpy, Pandas, SciPy, Dask, MatPlotLib, Plotly, Flask, Scikit-learn, Keras, Tensorflow, PyTorch. Deep learning modeling: CNNs, U-Nets, Auto-Encoders, Equivariant-NN(E3NN).

- **Programming Languages:** Proficient at: Python (and all the famous packages), MATLAB, SQL, C++, Java, Action Script, Bash shell script. Familiar with: Visual Basic, C#, microC, Fortran, HTML.

- **High Performance Computing (HPC):** Docker, Kubernetes, AWS, PBS, Slurm, HTCondor

- **Aspen HYSYS:** Completed a class and the undergraduate senior project simulating a unit.

- **LAMMPS:** Completed a Molecular Dynamic project on conjugated polymers for M.Sc. Independent Study.

- **Other Engineering Skills:** VASP (ab-initio simulation), VMD, OVITO, Gaussian (molecular simulation), OLGA (two-phase fluids simulation), COMFAR (feasibility study)

- **General Skills:** Linux/Unix, Mac-OS, Windows, MS Office, LaTeX, Adobe Illustrator and Flash

## Academic Experience

**Teaching Assistant**

- University of Illinois Chicago, Department of Civil and Materials Engineering, Chicago, IL, June 2018 - Dec. 2021

  - Properties of Materials (CME 260; Fall 2021): Held office hours and graded assignments.
  
  - Water Resources Engineering (CME 311; Spring 2021): Held office hours and graded assignments.
  
  - Materials for Manufacturing (CME 261; Spring 2019, Spring 2020): Held office hours and graded assignments.
  
  - Fluid Mechanics and Hydraulics (CME 211; Fall 2018, Spring 2019, Fall 2019, Fall 2020): Supervised laboratory, held office hours, and graded assignments/midterms/finals.
  
- University of Illinois Chicago, Department of Chemical Engineering, Chicago, IL, Aug. 2017 - June 2018

  - Introduction to Thermodynamics (CHE 201; Fall 2017, Spring 2018): Facilitated weekly discussion classes, held office hours, and graded assignments.
  
  - Computational Methods in Chemical Engineering (CHE 205; Fall 2017): Held office hours, and graded assignments.
  
- Drexel University, Department of Chemical Engineering, Philadelphia, PA, Jan. 2018 - Mar. 2018

  - Bio Reactors and Bio-process Principles (CHE 360; Winter 2018): Graded assignments.
  
- University of Tehran, Department of Chemical Engineering, Tehran, Iran, Sep. 2013 - June 2015

  - C++ Programming Language (Fall 2013, Spring 2013, Fall 2014, Spring 2014): Facilitated weekly discussion classes.
  
  - Math Applications in Petroleum Engineering (Fall 2013): Facilitated weekly discussion classes.

**Academic Research Projects**

- Wrote Molecular Dynamics and Monte Carlo Simulation codes from scratch in MATLAB to simulate tribocorrosion in medical implants

- Molecular dynamics simulation of P3HT polymer under shear flow using LAMMPS

## Work Experience

**Engineering Intern**, Faran Process & Energy Engineering Company, June 2014 - Sep. 2014

- Supervisor: Ehsan Mojtabavi

**Instructor**, Agahan Niroo Institute, June 2012 - Sep. 2012

- Instructed high school students how to make a line follower robot from scratch

- Taught how to design a circuit, code a PIC controller with micor-C, make the mechanical parts of a line follower robot

## Conference Presentations

- Oral, 'A Deep Learning Model for Formation Energy and Synthesizability of Crystalline Materials', Integrating Machine Learning with Simulations for Accelerated Materials Modeling, Materials Research Society (MRS), 2022 MRS Fall Meeting, Boston, MA.

- Oral, 'Deep Neural Networks for Predicting Formation Energy and Synthesizability of Crystal Structures', Simulation and Machine Learning, Materials Research Society (MRS), 2022 MRS Spring Meeting, Virtual. 

- Oral, 'Crystal Synthesis Prediction Using Deep Learning.' Deep Learning and Informatics for Design & for Methods Development, International Materials Applications & Technologies (IMAT), 2021, St. Louis, MO.

- Oral, 'Crystal Synthesis Prediction Using Deep Learning.' Data Science and Automation to Accelerate Materials Development and Discovery, Materials Research Society (MRS), 2020 MRS Fall Meeting, Virtual.

<!-- <div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | prepend: site.baseurl }}">
          <img src="{{ post.image }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ site.baseurl }}/tags#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %} -->
